<tr>
    <td>@Item</td>
    <td><button class="btn btn-danger btn-sm" @onclick="(()=>DeleteItem.InvokeAsync(Id))">delete</button></td>
</tr>

@code {
    [Parameter]
    public string Item { get; set; }

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public EventCallback<int> DeleteItem { get; set; }

}